
.front{
    background: url("preg.jpeg")  no-repeat;
    background-size: auto;
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    height:100vh;
}
.content{
    font-weight: 200;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.396);
    color:white;
}
.btn-ouva-pink{
    color:white;
    background-color: deeppink;
}
.btn-ouva-purple{
    background: rgb(179, 0, 255);
    color:white;
    border:0;
    box-shadow: 10px 10px 8px #88888888;
    transition: 0.3s;
}
.btn-ouva-purple:hover{
    background: transparent;
    color:rgb(179, 0, 255);
    border: 2px solid black  rgb(179, 0, 255);
    box-shadow: 10px 10px 8px #88888800;

}



.logos-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 5px 0 5px;
    column-gap: 10px;

}
.logo-container{

    display: flex;
    align-items: center;
    flex-direction: column;

}
.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 310px;

}
.logo-div img{
    width: 60px;
    height: 60px;
}
.header-container{
    width: 310px;
}

.header-container h1{
    text-align: center;
    color: #fa04fb;
}




.last-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}







.gradient-custom {
    /* fallback for old browsers */
    background: #c2109f;
    
    background: -webkit-linear-gradient(to bottom right, rgb(255, 0, 179), rgb(199, 157, 193));
    
    background: linear-gradient(to bottom right, rgb(199, 24, 199), rgb(215, 175, 214));
    margin-top:50px;
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }


.navbar-nav p{
    cursor: pointer;
    font-size: 16px;

}


.col-sm-12{
    padding-left: 15px;
}

.footer-container{
    text-align: center;
    color: #ad1f91;
}

.info-section-wrap{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:100vh;
}

.info-section-container{
    margin-top:35px;
    padding:30px;
    display: flex;
    align-items: center;
}
.text-container h1{
    color:#fa04fb;
}

.info-section-container p{
    font-size:28px;
}
.info-section-img-container{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-section-img-container img {
    height:450px;
}

@media screen and (max-width: 650px){
    .logos-wrap{
        display: flex;
        flex-direction: column;
    }
    .info-section-wrap {
        display:flex;
        flex-direction: column;
    }
}

.gradient-custom2 {
    background: #ffffff;
    
    background: -webkit-linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255));
    
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255));
    margin-top:50px;
}