* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.front {
    background: url("preg.jpeg") no-repeat;
    background-size: auto;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    width: 100%;
}

.content {
    font-weight: 200;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.396);
    color: white;
    height: 65px
}

.btn-ouva-pink {
    color: white;
    background-color: deeppink;
}

.btn-ouva-purple {
    background: rgb(179, 0, 255);
    color: white;
    border: 0;
    box-shadow: 10px 10px 8px #88888888;
    transition: 0.3s;
}

.btn-ouva-purple:hover {
    background: transparent;
    color: rgb(179, 0, 255);
    border: 2px solid black rgb(179, 0, 255);
    box-shadow: 10px 10px 8px #88888800;

}



.logos-wrap {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 5px 0 5px;
    column-gap: 100px;
    row-gap: 15px;
}

.logo-container {

    display: flex;
    align-items: center;
    flex-direction: column;
    height: 360px;
    flex-basis: 25%;

}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 310px;
    height: 60px;

}

.logo-div img {
    width: 60px;
    height: 60px;
}

.header-container {
    width: 310px;
}

.header-container h2 {
    text-align: center;
    color: #fa04fb;
}



/* 
.last-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */







.gradient-custom {
    /* fallback for old browsers */
    background: #c2109f;

    background: -webkit-linear-gradient(to bottom right, rgb(255, 0, 179), rgb(199, 157, 193));

    background: linear-gradient(to bottom right, rgb(199, 24, 199), rgb(156, 53, 168));
    margin-top: 50px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}


.navbar-nav p {
    cursor: pointer;
    font-size: 16px;

}


.col-sm-12 {
    margin: 0 15px 0 8px;
}

.footer-container {
    text-align: center;
    color: #ad1f91;
}

.info-section-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.info-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: end;
    height: 80%;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.text-container h1 {
    color: #fa04fb;
}

.text-container {
    padding-left: 20px;

}

.info-section-container {
    font-size: 20px;
}

.info-section-container p {
    margin-top: 30px;
    font-size: 20px;
}

.info-section-img-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.info-section-img-container img {
    border-radius: 2px;
    height: 80%;
    width: 80%;
}




.header-container p {
    font-size: 18px;
}

.info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(239, 130, 239, 0.622) 4%, rgba(237, 116, 236, 0.5803571428571428) 13%, rgb(239, 226, 239) 40%, rgba(253, 238, 255, 1) 63%, rgb(251, 222, 255) 71%);

}

.info-col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.info-img-container {
    width: 180px;
    height: 125px;
}

.info-img-container img {
    width: 100%;
    height: 100%;
}

.info-title-container {
    color: #7C3595;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    height: 40px;
    padding-top: 10px;
}



@media screen and (max-width: 730px) {
    .logos-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: unset;
        height: unset
    }

    .info-section-container {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        height: 80%;
    }

    .info-section-container p {
        font-size: 16px;
    }

    .info-wrapper {
        grid-template-columns: 1fr;

        row-gap: 40px;
        ;
        margin-top: 50px;
        height: unset;

        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(219, 137, 219, 0.622) 4%, rgba(225, 179, 225, 0.58) 13%, rgb(242, 212, 242) 40%, rgb(253, 228, 255) 63%, rgb(254, 242, 255) 71%);
    }

    .info-col-container {
        padding: 30px 15px 30px 15px;
    }
}

@media screen and (min-width: 730px) and (max-width: 1140px) {
    .info-wrapper {
        grid-template-columns: 1fr 1fr;

        row-gap: 40px;
        ;
        margin-top: 50px;
        height: unset;

        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(239, 130, 239, 0.622) 4%, rgba(237, 116, 236, 0.5803571428571428) 13%, rgb(239, 226, 239) 40%, rgb(251, 225, 255) 63%, rgb(255, 235, 255) 71%);
    }

    .info-col-container {
        padding: 30px 15px 30px 15px;
    }
}

body {
    max-width: 100%;
}

.navbar-nav a {
    all: unset;
}

.navbar-nav a:hover {
    all: unset;
}




.gradient-custom-login {
    /* fallback for old browsers */
    background: #c2109f;

    background: -webkit-linear-gradient(to bottom right, rgb(255, 0, 179), rgb(199, 157, 193));

    background: linear-gradient(to bottom right, rgb(230, 79, 230), rgb(179, 32, 196));
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-form-container {
    background: white;
    /* border:2px solid black; */
    border-radius: 10px;
    height: 90vh;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 35px;
}

.header .logo-img-container {

    width: 80px;
    height: 70px;
}

.logo-img-container img {
    width: 100%;
    height: 100%;
}

.header p {
    font-weight: 400;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.input-container input {

    width: 80%;
    height: 45px;
    border: 1px solid #858282;
    border-radius: 3px;
    padding-left: 10px;
}

.reset-login-container {
    text-align: center;
    padding-top: 20px;
}

.reset-login-container p {
    color: #858282;
    transition: 0.3s ease-in-out;
    font-size: 14px;
}


.reset-login-container a {
    all: unset;
    transition: ease-in-out 0.2s;
}

.reset-login-container a:hover {
    all: unset;
    cursor: pointer;

}

.reset-login-container p:hover {
    color: #6b6464;

}

.login-btn-container {
    padding-top: 25px;
}

.login-btn-container button {
    all: unset;
    border: 2px solid #ad1f91;
    padding: 8px 45px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    font-weight: 600;
}

.login-btn-container button:hover {
    border: 2px solid #842d74;
    background-color: #e213d4;

}

.signup-prompt-container {
    padding-top: 100px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}

.signup-prompt-container a {
    all: unset;

}

.signup-prompt-container a:hover {
    all: unset;
}

.sign-up-btn {
    cursor: pointer;
    color: #272626;
    font-weight: 500;
    text-decoration: underline;
}

.user-info-container {
    font-size: 17px;
    width: 32%;


}

@media screen and (min-width:550px) and (max-width:800px) {
    .login-form-container {
        width: 60%
    }

}

@media screen and (min-width:800px) and (max-width:1000px) {
    .login-form-container {
        width: 50%
    }

}


@media screen and (min-width:1000px) and (max-width:1200px) {
    .login-form-container {
        width: 40%;
    }

}


@media screen and (max-width:550px) {
    .login-form-container {
        width: 90%;
        border: 1px solid rgba(16, 15, 15, 0.511);
    }

    .wrapper {
        background: white;
    }

}


/*  app userinfo page styles */

.user-info-wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #c2109f;
    background: -webkit-linear-gradient(to bottom right, rgb(255, 0, 179), rgb(199, 157, 193));

    background: linear-gradient(to bottom right, rgb(230, 79, 230), rgb(179, 32, 196));
}


.user-info-header {
    margin-top: 50px;

}

.user-info-container form {
    line-height: 40px;
}

.user-info-container p{
    margin-left: 35px;

}

.user-info-container form input[name="dob"] {
    width: 40%;
    height: 25px;
}

.user-info-container form select[name="location"] {
    margin-top: 10px;
    width: 40.6%;
    height: 26.5px;
    margin-left: 26px;
}

.user-info-container form input[name="previous-pregnancies"] {
    margin-left: 10px;
}

.stages-container-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.stages-container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 15px;
    gap: 20px;
}

.disease-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 35px;
}

.update-btn-container {
display: flex;
justify-content: center;
align-items: center;

}

.update-btn-container button{
margin:0;

font-size: 15px;
padding:0px  30px;
cursor: pointer;

}

.form-labels{
    margin-left: 35px;;
}

.checkbox-label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  .checkbox-label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
  }
  
  .checkbox-custom {
    position: absolute;
    top: 25%;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #c5bfbf;
    transition: background-color 0.3s ease;
    border-radius: 3px;
  }
  
  .checkbox-label input[type="checkbox"]:checked ~ .checkbox-custom {
    background-color: #9b59b6;
  }
  
  .checkbox-custom:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-label input[type="checkbox"]:checked ~ .checkbox-custom:after {
    display: block;
  }
  
  .checkbox-label .checkbox-custom:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  

.red {
    color:red;
}
  